.content {
    position: fixed;
    top: 8vh;
    height: 92vh;
    width: 100vw;
    left: 0;
    background-color: rgb(242, 242, 242);
    overflow-y: scroll;
    overflow-x: scroll;
    display: flex;
    padding-left: 1rem;
}
  
.content::-webkit-scrollbar {
    width: 8px; /* Adjust this value for thinner scrollbar */
}

.content::-webkit-scrollbar-thumb {
    background-color: #888; /* Change this color to your preference */
    border-radius: 10px; /* Optional: rounded corners for the thumb */
}

.content::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Change color on hover */
}

.content::-webkit-scrollbar-track {
    background: transparent; /* Hides the scrollbar track */
}

.content::-webkit-scrollbar:horizontal {
    height: 8px; /* Adjust this value for thinner horizontal scrollbar */
}

.content::-webkit-scrollbar-thumb:horizontal {
    background-color: #888; /* Change this color to your preference */
    border-radius: 10px; /* Optional: rounded corners for the thumb */
}

.content::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #555; /* Change color on hover */
}

.content::-webkit-scrollbar-track:horizontal {
    background: transparent; /* Hides the scrollbar track */
}