.card {
    margin: 0.5rem;  // Adjust based on font size
    max-width: 30rem; // Relative to root font size
    min-width: 30rem; 
    color: black;
    border-radius: 10px;
    padding: 1%;

    .card-title {
        display: flex;
        align-items: center;

        .card-icon{
            height: 1.2rem;
            margin-left: 2%;
        }

        .card-id {
            margin-right: 2%;
            width: 74%;
            text-align: left;
            margin-left: 3%;
            font-size: 1.2rem;
            font-weight: 500;
            span{
                margin-left: 5%;
                color: rgb(135, 135, 135);
                font-size: 1.3rem;
            }

        }

        .btn {
            background-color: transparent;
            border: none;
            padding: 0;
            align-self: center;
            margin-right: 2%;
            height: 2rem; // Scales with text

            img {
                height: 100%;
            }
        }
    }
}
